extends layout
block content
  h1= title
  p Welcome to #{title}
  a(href="./new") 
    button New Message
  ul 
    each message in messages
      li
        h3= message.user
        p= message.text
        h4= message.date
